/* Оголошення змінної */

:root {
    --main-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --secondary-color: #FFFFFF;
    --logo-color: #000000;
}

/* body */

.page {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-color)
}

/* Забираю точки в маркированому списку */

.list {
    list-style: none;
}

/* Забираю підкреслення текста в посиланях */

.link {
    text-decoration: none;
}

/* Шапка сторінки */

/* Логотип */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.accent {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo:hover, 
.logo:focus {
    color: var(--logo-color);
}

/* Навігація сайту */

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color);
}

/* Унікальний контент сторінки */

/* Ефективні рішення для бізнесу */

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Наші особливості */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Чим ми займаємось */

.services-title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/* Наша команда */

.team-title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Підвал сторінки */

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.footer-accent {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--secondary-color);
}

/* Контакти */

.contacts-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.contacts-address:hover,
.contacts-address:focus {
    color: var(--accent-color);
}

.contacts-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Portfolio */

/* Унікальний контент сторінки */

/* Наші роботи */

.work-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: #F5F4FA;
    cursor: pointer;
}

.work-button:hover,
.work-button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.work-title {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.work-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}